.auth .form-row {
	width: 300px;
	margin: 30px auto;
}
.auth .form-row .form-header {
	padding: 10px 0;
	text-align: center;
	font-weight: 700;
	font-size: 25px;
}
.error {
	color: #f00;
	font-size: 16px;
	text-align: center;
}